html, body {
    margin: 0;
    padding: 0;
}

body {
    /*padding-left: 20px;*/
}

/* contient la navigation et le corps */
#global {
    width: 100%;
    overflow: hidden;
    min-width: 1024px;
}

#nav {
    float: left;
    background-color: coral;
    width: 180px;
}

#corpsCal {
	margin-left: 190px;
        background-color: cornflowerblue;
        height: 100%;
        width: 100%;
}
