html {
    /* bug redimensionnement du texte IE */
    font-size: 100%;
}

body {
    /* on retire les marges */ 
    margin: 0;
    padding: 0;
    
    /* couleur de fond par défaut */
    background-image: url('Images/background.jpg');
    background-position: center;
    
    /* couleur de police par défaut */
    color: #ffffff;
    font-family: Arial;
    
    padding: 30px 50px 30px 50px;
}

#nav {
    float: left;
    width: 200px;
    
    background-color: chocolate;
}

#corpsCal {
    background-color: #6894ae;
}

