#miniCalendrier table {
    width: 203px;
    text-align: center;
    background-color: #ececec;
    border-collapse: collapse;
}

/* ENTETE AVEC NOM DU MOIS + LIEN SUIVANT/PRECEDENT */
#miniCalendrier th {
    cursor: pointer;    
    font-weight: bold;
    color: #203f61;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);

    background: #4d7fb8; /* Old browsers */
    background: -moz-linear-gradient(top, #4d7fb8 0%, #4572a5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d7fb8), color-stop(100%,#4572a5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4d7fb8 0%,#4572a5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4d7fb8 0%,#4572a5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4d7fb8 0%,#4572a5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4d7fb8 0%,#4572a5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d7fb8', endColorstr='#4572a5',GradientType=0 ); /* IE6-9 */
}

#miniCalendrier table th a {
    text-transform: uppercase;
    text-decoration: none;
    color: #203f61;
}

/* FIN ENTETE */

/* Nom des jours de la semaine */
#miniCalendrier tr#nomJourSemaine td {
    font-weight: bold;
    background-color: #ececec;
    font-size: .9em;
    color: #727272;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
    border-top: 1px solid white;
    padding: 5px 10px 5px 10px;
}


/* corps du calendrier : n° des jours */

#miniCalendrier tr#jourMois td {
    padding: 2px;
    font-size: .9em;
    border-collapse: collapse;
    padding: 5px 0 5px 0;
}

#miniCalendrier tr#jourMois td a {
    padding: 2px;
    border-collapse: collapse;
    text-decoration: none;
    color: #393a3a;
    font-weight: bold;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
}