/* on retire toutes les marges de la page */
html, body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    background-color: black;
    color: #000000;
}

#nav {
    display: inline-block;
    width: 14%;
    vertical-align: top;
    height: 100%;
    background-color: #bbdcef;
    text-align: center;
}

#corpsCal {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    width: 86%;
    
    height: 100%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.72);
   
    font-family : Helvetica, "Hoefler Text", "Bookman Antiqua", Palatino, "Utopia", "Times New Roman", Times, "New Century Schoolbook",  Georgia, "New York", serif ;
    text-align: justify;

    background-color: #e6e6e6;
}